::selection{
  background: #cde;
}

body{
  user-select: none;
}

label{
  color: #565656;
}

.dropdown-content li{
  transition: background-color 0.15s;
}

#imgbk{
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/sun-dark.jpg);
}

#title-icon{
  height: 28px;
  vertical-align: text-bottom;
}

#login-outer{
  position: absolute;
  top: calc(40% - 150px);
  width: 100%;
}

#login-div{
  max-width: 480px;
  margin: auto;
  overflow: hidden;
}

#login-footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 3px 6px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
}


#div-msg, #div-msg2{
  background: #fed;
  border: 1px solid #fca;
  padding: 0px 6px;
  margin: 0px 0;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

#div-msg.msg-success{
  background-color: #efe; 
  border-color: #3a3;
}

#div-loadbar{
  position: absolute;
  width: 0%;
  top: 0px;
  left: 0px;
  height: 4px;
  background: #2196F3;
  box-shadow: 2px 0px 2px #57f;
}


#drop-domain-ul {
  background-color: #20B2AA;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#drop-domain-ul li {
  padding: 1px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
}

#drop-domain-ul li:last-child {
  border-bottom: none;
}

#drop-domain-ul li svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

#drop-domain-ul li span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#drop-domain-ul li:hover {
  background-color: #1C8BFF;
}

.domain{
  margin: 0 0 5px;
  padding: 2px 6px;
}

#i_pass {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  background-color: #4A5568;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  height: 2rem;
  width: 21.2rem;
}

#div-domain {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  background-color: #4A5568;
  color: white; /* Added property */
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Added property */
  height: 2rem;
  width: 21.2rem;
}

#div-domain:focus {
  outline: none !important;
  background-color: #4A5568 !important;
  border-color: transparent !important;
  color: white !important; /* Added property */
}

#i_user {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  background-color: #4A5568;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  height: 2rem;
  width: 21.2rem;
}

#l_user {
  font-size: 16px;
}

#l_pass {
  font-size: 16px;
}

#sign_in_button {
  background-color: #14b8a6;
  color: white;
  border-color: transparent;
}



#wa-signin{
  margin: 0 0 12px; 
  padding: 2px 0; 
}

.domain, .wa-option{
  border: 1px solid transparent;
  transition: all 0.2s;
}

.domain:hover, .domain:focus, .wa-option:hover, .wa-option:focus{
  background-color: #ebeff3;
  cursor: pointer;
  outline: none;
}

.domain:focus{
  border: 1px solid #57f;
}

.wa-option:focus{
  border: 1px solid #5df;
}

/* .domain.current{
  background-color: #cfe9ff;
} */

#s-domain, .domainName{
  font-size: 16px; 
  display: block;
}

#s-domainURL, .domainURL{
  font-size: 14px;
  color: #888;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn, .btn-large, .btn-small, .btn-flat{
  text-transform: none;
  border: 1px solid transparent; 
}

.btn:focus{
  border: 1px solid #070720; 
  box-shadow: 0px 0px 4px rgb(156, 194, 238);
}

.gray{
  color: #888;
}

#ft-right{
  float: right;
}

#ccD, #cc2, #cc3, #cc4, #ccT, #ccWA{
  display: none;
}

@media only screen and (max-width: 600px) {
  #login-outer{
    top: 0; 
    height: 100%;
  }
  #login-div{
    height: 100%;
    max-width: 600px;
    margin-bottom: 20;
  }
  #login-footer{
    background: none;
    color: #1e293b;
  }
  #ft{
    margin-left: 12px;
  }
  #ft-right{
    float: left;
    margin-left: 12px;
    margin-bottom: 12px;
  }
  #ccD{
    overflow-y: scroll;
    height: 100%;
  }
}

@media only screen and (max-width: 360px) {
  #login-outer{
    min-height: 720px; /*Prevents text from getting clipped off on really small displays (i.e. iPhone SE)*/
  }
  #ft, #ft-right{
    background: rgba(255, 255, 255, 0.6);
  }
}

